.login {
  background-color: #f2f2ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
}

.login__container > img {
  object-fit: contain;
  height: 80px;
}

.login__button {
  text-transform: none !important;
  width: 240px;
  cursor: pointer;
}
